# Unity generated state
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Bb]uild/
**/[Bb]uilds/
*.csproj
*.sln
*.user
*.log
**/*-results.xml

# IDE and operating-system files
.idea/
.vs/
.vscode/
Thumbs.db
.DS_Store
